{{define "mainContent"}}

<div class = "calculator">
  <h1>CLOUDTRUCKS PROFIT CALCULATOR</h1>
  <form class="" action="index.html" method="post">
    <!-- This is the Region selector -->
    <label for="region">Enter Region</label>
    <select id="region" name="region">
      <option value="ALL"> ALL </option>
      <option value="MW"> MID WEST </option>
      <option value="NE"> NORTH EAST </option>
      <option value="W"> WEST </option>
      <option value="SW"> SOUTH WEST </option>
      <option value="SE"> SOUTH EAST </option>
    </select>
    <!-- This is the Mile Range-->
    <label for="mileRange">Enter Mile Range</label>
    <select id="mileRange" name="mileRange">
      <option value="ALL"> ALL </option>
      <option value="300-600"> 300-600 </option>
      <option value=">600"> >600 </option>
    </select>


    <button type="button" name="button" onclick="Calculate()">Calculate</button>
  </form>
  <div class="result">
      <table>
        <tr>
          <th></th>
          <th>Average per week</th>
          <th>Above Average/Week</th>
        </tr>
        <tr>
          <td>Revenue</td>
          <td id="revAvg">---</td>
          <td id="revAboveavg">---</td>
        </tr>
        <tr>
          <td>Net Income</td>
          <td id="netIncomeAvg">---</td>
          <td id="netIncomeAboveavg">---</td>
        </tr>
        <tr>
          <td>Loaded Miles</td>
          <td id="loadedAvg">---</td>
          <td id="loadedAboveavg">---</td>
        </tr>
      </table>
  </div>
  
  </div>




<script type="text/javascript">
  function Calculate(){
  let revenue_avg, revenue_aboveAvg ;
  let netIncome_avg, netIncome_aboveAvg ;
  let loadedMiles_avg, loadedMiles_aboveAvg ;
  let region = document.querySelector("#region").value;
  let mile = document.querySelector("#mileRange").value;

  let mile_all = function(){return mile == "ALL"};
  let mile_300 = function(){return mile == "300-600"};
  let mile_600 = function(){return mile == ">600"};


  //all sets of conditions comparison
  if(region=="ALL" &&  mile_300()){
      revenue_avg = 6261; revenue_aboveAvg = 7275;
      netIncome_avg = 2429; netIncome_aboveAvg = 3231;
      loadedMiles_avg = 1520; loadedMiles_aboveAvg = 1734; }

  else if(region=="ALL" &&  mile_600()){
      revenue_avg = 6669;revenue_aboveAvg = 7709;
      netIncome_avg = 2373; netIncome_aboveAvg = 3139;
      loadedMiles_avg = 1986; loadedMiles_aboveAvg = 2292;
      }


  else if(region=="ALL" && mile_all()){
    revenue_avg = 6296;revenue_aboveAvg = 7300;
    netIncome_avg = 2369; netIncome_aboveAvg = 3145;
    loadedMiles_avg = 1665; loadedMiles_aboveAvg = 2083;
     }


  //MidWest
  else if(region=="MW" && mile_300()){
    revenue_avg = 6462;revenue_aboveAvg = 7849;
    netIncome_avg = 2748; netIncome_aboveAvg = 3625;
    loadedMiles_avg = 1650; loadedMiles_aboveAvg = 2034;
    }

  else if(region=="MW" &&  mile_600()){
    revenue_avg = 6982;revenue_aboveAvg = 7971;
    netIncome_avg = 2621; netIncome_aboveAvg = 3228;
    loadedMiles_avg = 2008; loadedMiles_aboveAvg = 2338;
    }

  else if(region=="MW" &&  mile_all()){
    revenue_avg = 6774;revenue_aboveAvg = 7997;
    netIncome_avg = 2624; netIncome_aboveAvg = 3296;
    loadedMiles_avg = 1934; loadedMiles_aboveAvg = 2183;
    }


  //NorthEast
  else if(region=="NE" && mile_300()){
    revenue_avg = 7480;revenue_aboveAvg = 8152;
    netIncome_avg = 2937; netIncome_aboveAvg = 3446;
    loadedMiles_avg = 1586; loadedMiles_aboveAvg = 1761;
    }

  else if(region=="NE" &&  mile_600()){
    revenue_avg = 6359;revenue_aboveAvg = 7695;
    netIncome_avg = 2141; netIncome_aboveAvg = 3283;
    loadedMiles_avg = 1731; loadedMiles_aboveAvg = 1967;
    }

  else if(region=="NE" &&  mile_all()){
    revenue_avg = 5769;revenue_aboveAvg = 7187;
    netIncome_avg = 2188; netIncome_aboveAvg = 3255;
    loadedMiles_avg = 1370; loadedMiles_aboveAvg = 1628;
    }


  //SouthEast
  else if(region=="SE" && mile_300()){
    revenue_avg = 6205;revenue_aboveAvg = 7086;
    netIncome_avg = 2515; netIncome_aboveAvg = 3084;
    loadedMiles_avg = 1525; loadedMiles_aboveAvg = 1642;
    }

  else if(region=="SE" &&  mile_600()){
    revenue_avg = 6367;revenue_aboveAvg = 7947;
    netIncome_avg = 2574; netIncome_aboveAvg = 3355;
    loadedMiles_avg = 1851; loadedMiles_aboveAvg = 2084;
    }

  else if(region=="SE" &&  mile_all()){
    revenue_avg = 6140;revenue_aboveAvg = 7212;
    netIncome_avg = 2441; netIncome_aboveAvg = 3233;
    loadedMiles_avg = 1564; loadedMiles_aboveAvg = 1900;
    }

  //SouthWest
  else if(region=="SW" &&  mile_300()){
    revenue_avg = 7186;revenue_aboveAvg = 7358;
    netIncome_avg = 3057; netIncome_aboveAvg = 3316;
    loadedMiles_avg = 1597; loadedMiles_aboveAvg = 1672;
    }

  else if(region=="SW" &&  mile_600()){
    revenue_avg = 6283;revenue_aboveAvg = 6909;
    netIncome_avg = 2282; netIncome_aboveAvg = 2581;
    loadedMiles_avg = 2108; loadedMiles_aboveAvg = 2261;
    }

  else if(region=="SW" &&  mile_all()){
    revenue_avg = 6081;revenue_aboveAvg = 6761;
    netIncome_avg = 2258; netIncome_aboveAvg = 2612;
    loadedMiles_avg = 1990; loadedMiles_aboveAvg = 2215;
    }

  //West
  else if(region=="W" &&  mile_300()){
    revenue_avg = 6708;revenue_aboveAvg = 7388;
    netIncome_avg = 2579; netIncome_aboveAvg = 3177;
    loadedMiles_avg = 1588; loadedMiles_aboveAvg = 1690;
    }

  else if(region=="W" &&  mile_600()){
    revenue_avg = 6967;revenue_aboveAvg = 8183;
    netIncome_avg = 2417; netIncome_aboveAvg = 3392;
    loadedMiles_avg = 2044; loadedMiles_aboveAvg = 2428;
    }

  else if(region=="W" &&  mile_all()){
    revenue_avg = 6719;revenue_aboveAvg = 7545;
    netIncome_avg = 2169; netIncome_aboveAvg = 3055;
    loadedMiles_avg = 1925; loadedMiles_aboveAvg =2296;
    }

  else{revenue_avg = "nothing";}


  document.getElementById("revAvg").innerHTML = "$" + revenue_avg.toLocaleString("en-US");
  document.getElementById("revAboveavg").innerHTML = "$" + revenue_aboveAvg.toLocaleString("en-US");

  document.getElementById("netIncomeAvg").innerHTML = "$" + netIncome_avg.toLocaleString("en-US");
  document.getElementById("netIncomeAboveavg").innerHTML = "$" + netIncome_aboveAvg.toLocaleString("en-US");

  document.getElementById("loadedAvg").innerHTML = "$" + loadedMiles_avg.toLocaleString("en-US");
  document.getElementById("loadedAboveavg").innerHTML = "$" + loadedMiles_aboveAvg.toLocaleString("en-US");

  }

</script>

{{end}}
